*
{
    margin: 0;
    box-sizing: border-box;
}

body
{
 background-color: black;
 color: aliceblue;
 display: grid;
 place-items: center;
}
.app-vedio
{
position: relative;
height: 600px;
background-color: black;
overflow: scroll;
width: 100%;
max-width: 350px;
border-radius: 20px;
margin-top: 20px;
scroll-snap-type: y mandatory;
}

.app-vedio::-webkit-scrollbar
{
display: none;
}

.vedio
{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    scroll-snap-align: start ;
}

.vedio-player
{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.footer
{
    display: flex;
    position: relative;
    bottom: 90px;
   margin-left: 3px;
 
}
.img-marq img
{
    width: 40px;
}

@keyframes rotate 
{

    from
    {
       transform: rotate(0deg);
    }
    to
    {
       transform: rotate(350deg);
    }

}

.image-play
{
    width: 55px;
    position: absolute;
    right: 4px;
    bottom:2px;
    animation:rotate infinite 5s linear;
}

.footer-text h3
{

}

/* .img-marq 
{
    display: flex;
    align-items: center;
    width: 390px;
} */

html
{
    scroll-snap-type: y mandatory;
}



